<p id="notice"><%= notice %></p>

<p>
  <b>Surl:</b>
  <%= link_to "#{root_url}#{@short_url.surl}", "#{root_url}#{@short_url.surl}" %>
</p>

<p>
  <b>Lurl:</b>
  <%= @short_url.lurl %>
</p>

<%= button_to "Delete this path", short_url_path(@short_url), method: :delete%>

